@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: rgb(254, 224, 150);
}

.heading {
    text-align: center;
    font-size: 4rem;
    font-family: "Honk", system-ui;
    animation: yellow 5s ease-in-out forwards;
    opacity: 0;
    animation-iteration-count: infinite;
}

@keyframes yellow {
    100% {opacity: 1;}
 }

.ingredients {
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    height: 220px;
    width: 300px;
    margin: 0 auto;
    margin-left: 230px;
    margin-top: 20px;
}

.cooking-instructions {
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    height: 80px;
    width: 800px;
    margin: 0 auto;
    margin-left: 230px;
}

.pancakespicture {
    margin-left: 100px;
    animation: green 3s ease-in-out forwards;
    animation-iteration-count: infinite;
    transform: rotateY(180deg);
}

@keyframes green {
    50% {transform: rotate(180deg);}
}

.footer {
    text-align: center;
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 20px;
    animation: yellow 5s ease-in-out forwards;
    opacity: 0;
    animation-iteration-count: infinite;
}